{% extends 'base.html' %}

{% block head_title %}{{ block.super }} | Libreria {% endblock head_title %}

{% block content %}
    <div class="container">
      <div class="row">
        <div class="col-2"></div>
        <div class="col-4">
          <h1>La nostra libreria</h1>
          <br>
          {% for libro in libri %}
            <p><span id="testataRisalto" class="font-weight-bold">Titolo:</span> {{ libro.titolo }}</p>
            <p><span id="testataNormale" class="font-weight-bold">Autore:</span> <a href="{{ libro.autore.get_absolute_url }}">{{ libro.autore }}</a></p>
            <p><span id="testataNormale" class="font-weight-bold">Genere:</span> {% for gender in libro.genere.all %} {{ gender }} {% endfor %}</p>
            <p><span id="testataRisalto" class="font-weight-bold">ISBN:</span> {{ libro.isbn }}</p>
            <br>
          {% endfor %}
        </div>
        <div class="col-6"></div>
      </div>
    </div>
{% endblock content %}
